# dependencies
node_modules/
.pnpm/
.pnp.*
.npm/

# build output
dist/
.cache/
.out/
.vercel/
.netlify/

# Astro
.astro/

# typescript
*.tsbuildinfo

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor & system
.DS_Store
Thumbs.db
.vscode/
.idea/

